extends layout.pug 

block content
    div.container
      h1.title #{item.title}
      p.price $ #{item.price}
      p.description #{item.description}
      <img class=photo src=#{item.photo}>
